* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('../img/bg.jpg');
	background-size: cover;
	width: 100vw;
	height: 100vh;
}
.container {
	display: flex;
	margin-left: 10%;
	margin-right: 10%;
}
.float-left .body {
	margin-left: 100px;
	margin-top: 300px;
	border-radius: 10px;
	color: #ffffff;
}
.float-left .body h2 {
	margin-bottom: 20px;
	font-size: 50px;
}

.float-left .body p {
	margin-left: 50px;
	font-size: 25px;
}
.float-right {
	margin-left: 300px;
	margin-top: 100px;
}

.float-right .card {
	position: absolute;
	width: 460px;
	height: 500px;
	background-color: #FFFFFF;
	border-radius: 20px;
	opacity: 0.8;
}

.float-right .card .header {
	margin: 30px auto;
}
.float-right .card .card-body {
	padding-left: 80px;
	padding-right: 80px;
	
}
.form-group a{
	text-decoration: none;
}